In [1]:
# importing libraries :
import pandas as pd
import numpy as np
import datetime
import json

### Cleaning the data ###

In [2]:
# setting file path
filepath="luxmeasuresVEML7700"

In [3]:
# making a list of the column names
column_names=["date","mean_lux","min_lux","max_lux","variance_lux","mean_light","min_light","max_light","variance_light"]

In [4]:
# loadind file into DataFrame
df=pd.read_csv(filepath, names=column_names)

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1289 entries, 0 to 1288
Data columns (total 9 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   date            1289 non-null   object
 1   mean_lux        1289 non-null   object
 2   min_lux         1289 non-null   object
 3   max_lux         1289 non-null   object
 4   variance_lux    1289 non-null   object
 5   mean_light      1289 non-null   object
 6   min_light       1289 non-null   object
 7   max_light       1289 non-null   object
 8   variance_light  1289 non-null   object
dtypes: object(9)
memory usage: 90.8+ KB

In [6]:
df.head()

,date,mean_lux,min_lux,max_lux,variance_lux,mean_light,min_light,max_light,variance_light
0,{'date': '30/06/22 | 12:43:25','mean_lux': 212.59,'min_lux': 102.41,'max_lux': 322.04,'variance_lux': 5303.87,'mean_light': 3685.12,'min_light': 1778,'max_light': 5591,'variance_light': 1610363.67}
1,{'date': '30/06/22 | 12:44:25','mean_lux': 233.87,'min_lux': 211.33,'max_lux': 255.11,'variance_lux': 143.62,'mean_light': 3872.6,'min_light': 1778,'max_light': 5591,'variance_light': 862008.79}
2,{'date': '30/06/22 | 12:45:25','mean_lux': 239.09,'min_lux': 216.35,'max_lux': 253.32,'variance_lux': 81.59,'mean_light': 3965.39,'min_light': 1778,'max_light': 5591,'variance_light': 600085.65}
3,{'date': '30/06/22 | 12:46:26','mean_lux': 257.25,'min_lux': 250.62,'max_lux': 260.52,'variance_lux': 6.54,'mean_light': 4090.57,'min_light': 1778,'max_light': 5591,'variance_light': 497561.31}
4,{'date': '30/06/22 | 12:47:26','mean_lux': 257.57,'min_lux': 253.9,'max_lux': 260.41,'variance_lux': 3.17,'mean_light': 4166.8,'min_light': 1778,'max_light': 5591,'variance_light': 421486.09}

In [7]:
for ind,row in df.iterrows():

    # case for datetime
    #split
    date_parts = row["date"].split("':") 
    #take date part that we want
    date = date_parts[1]
    #turn into datetime format object
    date_ = date.replace("|"," ")
    #replace
    row["date"] = date_

    # case where no '{' or '}'
    # split and take last element in new array 
    row['mean_lux'] = row['mean_lux'].split(":")[1]
    row['min_lux'] = row['min_lux'].split(":")[1]
    row['max_lux'] = row['max_lux'].split(":")[1]
    row['variance_lux'] = row['variance_lux'].split(":")[1]
    row['mean_light'] = row['mean_light'].split(":")[1]
    row['min_light'] = row['min_light'].split(":")[1]
    row['max_light'] = row['max_light'].split(":")[1]
    
    #case for '}'
    #split
    variance_parts = row['variance_light'].split(":")
    #strip
    variance = variance_parts[1].strip("}")
    #replace
    row["variance_light"] = variance

In [8]:
df.head()

,date,mean_lux,min_lux,max_lux,variance_lux,mean_light,min_light,max_light,variance_light
0,'30/06/22 12:43:25',212.59,102.41,322.04,5303.87,3685.12,1778,5591,1610363.67
1,'30/06/22 12:44:25',233.87,211.33,255.11,143.62,3872.6,1778,5591,862008.79
2,'30/06/22 12:45:25',239.09,216.35,253.32,81.59,3965.39,1778,5591,600085.65
3,'30/06/22 12:46:26',257.25,250.62,260.52,6.54,4090.57,1778,5591,497561.31
4,'30/06/22 12:47:26',257.57,253.9,260.41,3.17,4166.8,1778,5591,421486.09

In [9]:
# converting date and time to datetime type
df['date'] = pd.to_datetime(df["date"])

In [12]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1289 entries, 0 to 1288
Data columns (total 9 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   date            1289 non-null   datetime64[ns]
 1   mean_lux        1289 non-null   object
 2   min_lux         1289 non-null   object
 3   max_lux         1289 non-null   object
 4   variance_lux    1289 non-null   object
 5   mean_light      1289 non-null   object
 6   min_light       1289 non-null   object
 7   max_light       1289 non-null   object
 8   variance_light  1289 non-null   object
dtypes: datetime64[ns](1), object(8)
memory usage: 90.8+ KB

In [11]:
df.to_csv('cleanData_VEML7700.txt')