In [1]:
import pandas as pd

In [2]:
airbnb=pd.read_csv("listings.csv")

In [3]:
#number in the middle of the list
airbnb.price.median()

145.0

In [4]:
airbnb['price'].mean()

174.6139218422889

In [5]:
#number appearing the most often
airbnb.price.mode()

0    150
Name: price, dtype: int64

In [7]:
airbnb.price.min()

0

In [8]:
airbnb.price.max()

8812

In [9]:
#
airbnb.price.var()

40057.149992852464

In [10]:
airbnb.price.std()

200.14282398540414

In [11]:
airbnb.price.sum()

1000887

In [13]:
#quartiles
airbnb.price.quantile()

145.0

In [16]:
#also for dates but has to be a dtype 'datetime'
airbnb.date.min()

AttributeError: 'DataFrame' object has no attribute 'time'

In [ ]:
#utiliser une fonction sur une ou plusieurs colonnes
airbnb[['price', 'price_cents']].agg(fonction)

In [17]:
#cummulative sum
airbnb.price.cumsum()

0            49
1           155
2           289
3           364
4           419
         ...
5727    1000320
5728    1000526
5729    1000707
5730    1000797
5731    1000887
Name: price, Length: 5732, dtype: int64

In [18]:
airbnb.price.cummin()

0       49
1       49
2       49
3       49
4       49
        ..
5727     0
5728     0
5729     0
5730     0
5731     0
Name: price, Length: 5732, dtype: int64

In [19]:
airbnb.price.cummax()

0         49
1        106
2        134
3        134
4        134
        ...
5727    8812
5728    8812
5729    8812
5730    8812
5731    8812
Name: price, Length: 5732, dtype: int64

In [20]:
#cummulative product(multiplication)
airbnb.price.cumprod()

0               49
1             5194
2           695996
3         52199700
4       2870983500
           ...
5727             0
5728             0
5729             0
5730             0
5731             0
Name: price, Length: 5732, dtype: int64

In [ ]:
#enables to delete the duplicate rows of the selected column
airbnb.drop_duplicates(subset=['price', 'room_type', '....'])
#stock in 'holiday_dates' var the sales from'is_holiday' column deleting dupplicates of date 
holiday_dates = sales[sales['is_holiday']].drop_duplicates(subset='date')

In [ ]:
airbnb['room_type'].value_counts()
airbnb['room_type'].value_counts(sort=True)
#to turn counts into proportions of the total:
airbnb['room_type'].value_counts(normalize=True)

In [39]:
#set a condition on the rows you wanna calculate an attribute(column):
airbnb[airbnb['room_type']=='Hotel room']['price'].max()
airbnb[airbnb['room_type']=='Hotel room']['price'].mean()
#easier:
airbnb.groupby('room_type')['price'].max()
airbnb.groupby('room_type')['price'].mean()
airbnb.groupby('room_type')['price'].agg(['max', 'mean', 'min'])
airbnb.groupby(['room_type','last_review'])[['price','number_of_reviews']].agg(['min', "max", 'mean'])

                            price             number_of_reviews
                              min  max   mean               min  max   mean
room_type       last_review
Entire home/apt 2014-01-04    115  115  115.0                 3    3    3.0
                2015-01-03    189  189  189.0                 1    1    1.0
                2015-02-08     78   78   78.0                 1    1    1.0
                2015-05-06    150  150  150.0                 1    1    1.0
                2015-07-08    150  150  150.0                10   10   10.0
...                           ...  ...    ...               ...  ...    ...
Shared room     2021-11-14     60   62   61.0                26   36   31.0
                2021-11-21     80   80   80.0               306  306  306.0
                2022-02-02     31   31   31.0                 8    8    8.0
                2022-02-14     34   34   34.0                95   95   95.0
                2022-02-20     34   34   34.0               898  898  898.0

[1312 rows x 6 columns]

In [ ]:
# Calc total weekly sales
sales_all = sales["weekly_sales"].sum()

# Subset for type A stores, calc total weekly sales
sales_A = sales[sales["type"] == "A"]["weekly_sales"].sum()

# Subset for type B stores, calc total weekly sales
sales_B = sales[sales['type']=="B"]["weekly_sales"].sum()

# Subset for type C stores, calc total weekly sales
sales_C = sales[sales['type']=='C']['weekly_sales'].sum()

# Get proportion for each type
sales_propn_by_type = [sales_A, sales_B, sales_C] / sales_all
print(sales_propn_by_type)

In [ ]:
#create pivot table: