In [1]:
import pandas as pd

In [2]:
#loading file into dataframe
filepath="keys2.txt"
df=pd.read_csv(filepath, delimiter="|")

In [3]:
df.head()

   2022-06-14 12:42:53,459    Key.space
0  2022-06-14 12:42:53,922          't'
1  2022-06-14 12:42:54,301          'e'
2  2022-06-14 12:42:54,607          's'
3  2022-06-14 12:42:54,752          't'
4  2022-06-14 12:42:55,445    Key.space